*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main: #003466;
  --support: #FE9E0D;
  --circle1: #779CD1;
  --circle2: #808080;
  --circle3: #FF0000;
  --circle4: #FFFF00;
  --circle_line: #F1EDED;
  --circle3_2: #B4BCD7;
  --circle4_3: #3F679D;
}

ul{
  list-style: none;
  padding-left: 0;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1180px;
  margin: auto;
}
.container2{
  max-width: 1280px;
  margin: auto;
}
.color{
  color: lightgreen;
}
.container{
  overflow-x: hidden;
}


@media only screen and ( max-width: 1300px ){
  .container{
    width: 90% !important;
    margin: 0 auto;
  }
  .container2{
    width: 90% !important;
    margin: 0 auto;
  }
}
@media only screen and ( max-width: 700px ){
  .container{
    width: 94% !important;
    margin: 0 auto;
  }
  .container2{
    width: 94% !important;
    margin: 0 auto;
  }
}
@media only screen and ( max-width: 400px ){
  .container{
    width: 96% !important;
  }
  .container2{
    width: 96% !important;
  }
}


